node_modules
**/node_modules
**/.turbo
**/.tsbuildinfo
**/.vitest
coverage
.git
.github
**/Dockerfile.test
**/*.log
**/tests
**/__tests__
**/*.spec.ts
**/*.test.ts
.idea
.vscode
*.swp
*.tgz
dist
!/server/dist
!/dispatcher/dist
!/scheduler/dist
!/db/dist
!/utils/dist